* {
	border: 1px solid black;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	justify-content: center;
	align-items: center;
}


.container {
	height: 100vh;
	display: grid;
	align-content: center;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.output {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: flex-end;
}

.current-operand {
	font-size: 40px;
}

.previous-operand {
	font-size: 20px;
}

.span-two {
	grid-column: span 2;
}